#mail-form {
  display: block;
  color: gray;
  position: realtive;
  margin-left: 50%;
  margin-top: -300px;
  width: 40%;
}
#info {
  width: 40%;
  text-indent: 50px;
  text-align: justify;
  font-size: 18px;
}

textarea {
  resize: none;
}
input[type="text"]:focus {
  border: 2px solid #555;
}
input[type="text"] {
  width: 70%;
}
